.auth-button {
  text-align: right;
}

.film-roulette {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-rf {
  color: #090909;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-rf.saved {
  color: grey;
}

.button-rf:hover {
  border: 1px solid white;
}

.button-rf:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

@media (max-width: 767px) {
  .button-rf {
    font-size: 16px;
    padding: 0.5em 1.5em;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .button-rf {
    font-size: 20px;
    padding: 0.5em 1.5em;
  }
}

@media (min-width: 1024px) {
  .button-rf {
    font-size: 20px;
    padding: 0.5em 1.5em;
  }
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 20px;
  opacity: 0.7;
}

@media (min-width: 601px) {
  .example {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .example {
    font-size: 30px;
  }
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 10px grey);
  margin-bottom: 30px;
}

.limit-msg {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
}
