.spinner {
  /* Styles for the overlay div */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 20px);
  background-color: #e8e8e8; /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Higher z-index to appear above the main content */
}
