.icon {
  transform: scale(2.5);
  opacity: 60%;
}

.dropdown {
  text-align: right;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  z-index: 2;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-right: -8px;
  white-space: nowrap;
  text-align: right;
  display: none;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  display: block;
  margin-bottom: 8px;
}
