.content {
  display: flex;
  flex-direction: column;
}

.film-content {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: center; /* Horizontally center flex items */
  align-items: center;
}

.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 767px) {
  .film-grid {
    grid-template-columns: 1fr; /* Single column */
  }
}

@media (min-width: 768px) {
  .film-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

.film-title {
  color: #111111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.film {
  display: flex;
  flex-direction: column; /* Stack content and button vertically */
  align-items: center; /* Center content and button horizontally */
  flex: 1 0 200px; /* Flex item will grow, won't shrink, and has a basis of 200px */
  margin: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .flex-item {
    flex-basis: 100%; /* Set flex basis to 100% to make flex items full width on small screens */
  }
}

.delete-button {
  color: #090909;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.delete-button:hover {
  border: 1px solid white;
}

.delete-button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.saved-msg {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.6;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.saved-msg p {
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px;
}
